.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  top: 0;
  right: -210px;
  z-index: 1;
  background-image: url(/images/kaufman-triangle.svg);
  background-repeat: no-repeat;
}
