.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  /*рамка вокруг page , потом удалить*/
  /*border: 4px solid red;*/
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  position: relative;
}

.header__title {
  width: 730px;
  margin: 0 0 0 64px;
  color: #000;
  font-size: 102px;
  font-weight: 700;
  line-height: 96px;
  z-index: 3;
}

.header__subtitle {
  position: absolute;
  margin: 0;
  bottom: 30px;
  left: 64px;
  width: 388px;
  font-size: 18px;
  font-weight: normal;
  /*проверить!*/
  line-height: 25px;
  z-index: 3;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__link::after {
  content: " \2192";
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
  width: 765px;
  height: 608px;
}

.header__square-pic {
  position: absolute;
  right: 0;
  top: 64px;
  z-index: 1;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
}

.logo {
  width: 228px;
  height: 32px;
  display: block;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 3;

}

.description {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief {
  width: 175px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}

.two-columns__paragraph {
  margin-bottom: 30px;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

.two-columns__span-accent {
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.digits {
  padding: 100px 0;
}

.section-title {
  margin: 0 auto;
  width: 60%;
  font-size: 60px;
  line-height: 1.15;
  font-weight: 700;
  text-align: center;
}

.section-subtitle {
  margin: 20px auto 0;
  width: 60%;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  text-align: center;
}

.table {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  margin: 0 0 20px;
  font-size: 24px;
  line-height: 1.15;
  font-weight: 700;
}

.table__text {
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  margin: 0;
}

.table__text:last-of-type {
  margin-top: 20px;
}

.feynman {
  background-color: #f2f2f2;
  height: 890px;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-position: left bottom 0;
  background-size: 867px 637px;
  padding-top: 100px;
  position: relative;
}

.feynman__title {
  width: 648px;
  text-align: center;
  margin: 0 auto 70px;
  font-size: 120px;
  line-height: 1.15;
  font-weight: 700;
}

.feynman__subtitle {
  margin: 70px auto;
  text-align: center;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
}

.feynman__link {
  color: #2f80ed;
  text-decoration: none;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  position: absolute;
  right: 48px;
  top: 50%;
}

.feynman__link::after {
  content: " \2192";
}

.kaufman {
  background-color: #1f1f1f;
  padding: 90px 0;
  position: relative;
  overflow: hidden;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  top: 0;
  right: -210px;
  z-index: 1;
}

.section-title_theme_dark {
  color: white;
}

.section-subtitle_theme_dark {
  color: white;
}

.table_theme_dark {
  z-index: 2;
  position: relative;
}

.table__heading_theme_dark {
  color: white;
}

.table__text_theme_dark {
  color: white;
}

.footer {
  background-color: #1f1f1f;
  min-height: 350px;
  padding: 60px 0 40px;
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  min-height: 250px;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  color: white;
}

.footer__column-heading {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: white;
}

.footer__column-links {
  margin: 20px 0 16px;
}

.footer__column-link {
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  color: white;
  text-decoration: none;
  display: block;
}

.footer__column_content_info {}

.footer__column_content_social {}

.footer__social-icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}

.logo_place_footer {}

.footer__author {
  margin: 18px 0;
}
