.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  /*рамка вокруг page , потом удалить*/
  /*border: 4px solid red;*/
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  position: relative;

}

.header__title {
  width: 730px;
  margin: 0 0 0 64px;
  color: #000;
  font-size: 102px;
  font-weight: 700;
  line-height: 96px;
  z-index: 3;

}

.header__subtitle {
  position: absolute;
  margin: 0;
  bottom: 30px;
  left: 64px;
  width: 388px;
  font-size: 18px;
  font-weight: normal;
  /*проверить!*/
  line-height: 25px;
  z-index: 3;


}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__link::after {
  content: " \2192";
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
  width: 765px;
  height: 608px;
}

.header__square-pic {
  position: absolute;
  right: 0;
  top: 64px;
  z-index: 1;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
}

/*стили для логотипа*/
.logo {
  width: 228px;
  height: 32px;

}

/*логотип в шапке*/
.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 3;

}

/*логотип в футере*/
.logo_place_footer {}


/*стили для основной части сайта*/
.content {}

.description {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief {
  width: 175px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;

}

.two-columns__paragraph {
  margin-bottom: 30px;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

.two-columns__span-accent {
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
}


/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.digits {
  margin-top: 100px;

}

.section-title {
  margin: 0 auto;
  width: 60%;
  font-size: 60px;
  line-height: 1.15;
  font-weight: 700;
  text-align: center;

}

.section-subtitle {
  margin: 20px auto 0;
  width: 60%;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  text-align: center;


}

.table {
  width: 1100px;
  margin: 0 auto 100px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  margin: 0 0 20px;
  font-size: 24px;
  line-height: 1.15;
  font-weight: 700;
}

.table__text {
  font-size: 17px;
  line-height: 1.2;
  font-weight: normal;
  margin: 0;

}

.table__text:last-of-type {
  margin-top: 20px;
}
